<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Login{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="master-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="logo"><a href="">logo</a></p>
                        <form id="search-form" action="">
                            <input type="text">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="right-menu float-right">
                            <a class="item" href="{{ path('user_login') }}"><strong>{% trans %}Login{% endtrans %}</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="master-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% block body %}{% endblock %}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </main>

        <footer class="master-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="links">
                            <a target="_blank" href="http://kipalog.com/tos">
                              Điều khoản
                            </a>
                            <a target="_blank" href="https://www.facebook.com/groups/1466126020344500/">
                              Phản hồi
                            </a>
                            <a target="_blank" href="https://github.com/Kipalog/Issue-tracker">
                              Yêu cầu
                            </a>
                            <a target="_blank" href="https://www.facebook.com/pages/Kipalog/486208978117754">
                              Fanpage
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
